<html>
    <head>
        <title>Home Page</title>
        <style>
        button
             {
               width: 50%;
               text-align:center;
               color: white;
               padding: 14px 20px;
               margin: 50px 300px;
               border: none;
               border-radius: 4px;
               cursor: pointer;
              }
            </style>
    </head>
    <body>
        <h1 style="text-align: center;"> STAFF REGISTRATION PORTAL </h1>
        <a href='/add'><button type="button" style="background-color: green;size: 20px;">ADD STAFF</button></a><br>
        <a href='/details'><button type="button" style="background-color: red;">DELETE STAFF</button></a><br>
        <a href='/details'><button type="button" style="background-color: cyan">UPDATE STAFF</button></a><br>
        <a href='/search'><button type="button" style="background-color: gray;">SEARCH STAFF</button></a><br>


    </body>
</html>